@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #71b8db;
    background-position: center;
    background-size: cover;
}

/* Main Container */
.container {
    position: relative;
    max-width: 750px;
    width: 100%;
    background: white;
    border-radius: 10px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    display: flex;
    padding: 10px;
    background-color: #71b8db;
}

.left-panel {
    flex: 1;
    background-color: #3a5d9c;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 30px 0px 0px 30px;
}

.branding {
    text-align: center;
}

.branding .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.branding .company-name {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.branding .slogan {
    font-size: 12x;
    color: #fff;
}

/* Right Panel */
.forms {
    flex: 1;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column; 
    background-color: white;
    border-radius: 0px 30px 30px 0px;
}

.form {
    width: 100%;
    max-width: 350px;
}

.form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 25px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #4070f4;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: #4070f4;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 25px;
    width: 200px;
    background-color: #3a5d9c;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #265df2;
}

.login-signup {
    margin-top: 20px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
    }

    .left-panel {
        flex: 1;
        padding: 20px;
        text-align: center;
    }

    .forms {
        flex: 1;
        padding: 20px;
        justify-content: center;
    }

    .form .title {
        font-size: 24px;
        text-align: center;
    }

    .input-field input {
        font-size: 14px;
    }

    .form .button input {
        font-size: 16px;
    }

    .brand-logo {
        width: 80px;
        height: 80px;
    }

    .brand-name {
        font-size: 20px;
    }

    .brand-slogan {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .left-panel {
        padding: 10px;
    }

    .forms {
        padding: 10px;
    }

    .form .title {
        font-size: 20px;
    }

    .input-field input {
        font-size: 12px;
    }

    .form .button input {
        font-size: 14px;
    }
}
