body {
    background-color: #F1F1F2;
    font-family: Arial, sans-serif;
  }
  
.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #8AAAE5;
    padding: 10px 20px;
  }
.navbar .navbar-brand {
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }

  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 10px;
    
  }
  
  .user-icon .user-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: none;
  }
  
  
  
.logout-btn {
    background-color: rgb(236, 93, 93);
    color: white;
    border: none;
    transition: 0.3s ease;
  }
  
.logout-btn:hover {
    background-color: #b61b1b;
  }

.profile-pic {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile-pic img {
    /* border: 5px solid #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .file-upload-container {
    
    margin-top: 10px;
    display: inline-block;
    position: relative;
  }
  
  .file-upload-label {
    border-radius: 25%;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /* font-weight: bold; */
    transition: background-color 0.3s ease;
  }
  
  .file-upload-label:hover {
    background-color: #0056b3;
  }
  
  .file-upload-label i {
    margin-right: 8px;
  }
  
  .file-upload-input {
    display: none; 
  }
  
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-group input {
    padding: 10px 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
  }
  
  .form-group input {
    padding-right: 30px; 
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col-md-8 {
    margin-bottom: 30px;
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
.form-group input:focus {
    outline: none;
    border: 2px solid #ccc;
  }
  
  /* .form-group input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    transition: border-color 0.3s; 
  } */
  
  .form-group input:focus {
    border-color: #007bff;
  }

.details-header {
    background-color: #61d66b; 
    border-left: 10px solid #16801a; 
    padding: 10px 15px; 
    font-size: 18px; 
    font-weight: bold; 
    color: #fff;
    margin-bottom: 20px; 
  }
  
  