body {
  background-color: #f8f9fa; 
  font-family: 'Arial', sans-serif;
}

h1 {
  font-weight: bold;
}

.btn {
  margin-right: 10px;
}

.required:after {
  content: "*";
  color: red;
  margin-left: 2px; 
}