* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: sticky;
  width: auto;
  height: 200vh;
  margin-top: 66px;
  background-color: #a0bbba;
  padding: 20px;
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: larger;
  margin-bottom: 5px;
  /* color: #fff; */
  color: black;
}

.nav-link {
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  transition: background-color 0.3s ease-in-out;
  font-size: large;
}

.nav-link:hover {
  background-color: #2a8083;
  color: white;
  justify-items: center;
}

.nav-link.active {
  background-color: #88ceee;
  color: #fff;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
}

.nav-link i {
  margin-right: 10px; /* Space between icon and text */
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center icon horizontally */
}

.nav-text {
  display: inline-block;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  line-height: 1;
  padding-bottom: 9%;
  position: relative;
  top: 6px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 90px;
  }
  .main-content {
    margin-left: 90px;
  }

  .nav-text {
    opacity: 0;
    visibility: hidden;
    width: 0;
  }

  .nav-link i {
    margin-right: 0;
    font-size: 28px;
  }
}
.tooltip {
  background-color: #1e3a5f;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}

.tooltip .tooltip-arrow {
  color: #1e3a5f;
}
